{% extends "base.html" %}
{% block content %}
<h1 id="customer">Customer List</h1>

<!-- Search form -->
<form id="searchForm" class="needs-validation" novalidate>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Search by name"
               aria-label="Search by name" aria-describedby="button-addon2" required>
        <button class="btn btn-primary" type="submit" id="searchButton">Search</button>
    </div>
</form>

<!-- Add Service form -->
<h2>Add Service</h2>
<form id="addServiceForm" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="serviceName" class="form-label">Service Name</label>
        <input type="text" class="form-control" id="serviceName" required>
        <div class="invalid-feedback">
            Please enter a service name.
        </div>
    </div>
    <div class="mb-3">
        <label for="serviceCost" class="form-label">Cost</label>
        <input type="number" class="form-control" id="serviceCost" required>
        <div class="invalid-feedback">
            Please enter the cost of the service.
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Service</button>
</form>

<!-- Customer table -->
<table class="table">
    <thead>
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Family Name</th>
        <th scope="col">Phone</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.family_name }}</td>
        <td>{{ customer.phone }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const searchForm = document.getElementById('searchForm');
    const searchInput = document.getElementById('searchInput');
    const addServiceForm = document.getElementById('addServiceForm');
    const serviceNameInput = document.getElementById('serviceName');
    const serviceCostInput = document.getElementById('serviceCost');

    searchForm.addEventListener('submit', function (event) {
      event.preventDefault();
      event.stopPropagation();

      if (searchForm.checkValidity()) {
        const searchTerm = searchInput.value.trim();
        const url = `/customers?name=${encodeURIComponent(searchTerm)}`;

        // reload page
        window.location.href = url;
      }
      searchForm.classList.add('was-validated');
    });

    addServiceForm.addEventListener('submit', function (event) {
      event.preventDefault();
      event.stopPropagation();

      if (addServiceForm.checkValidity()) {
        // Get service name and cost
        const serviceName = serviceNameInput.value.trim();
        const serviceCost = serviceCostInput.value.trim();

        // TODO: Send service data to backend for processing
      }
      addServiceForm.classList.add('was-validated');
    });
  });

</script>
{% endblock %}
